body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 890px;
}

#graphic {
  padding-top: 60px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
}

.step {
  margin-bottom: 200px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}

#sections .title {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}

#vis .title {
  font-size: 60px;
  text-anchor: start;
}

#vis .sub-title {
  font-size: 60px;
  text-anchor: start;
}

#vis>svg {
  position: absolute;
}

#vis .dot-bar {
  z-index: 10 !important;
}

#vis .sankey {
  z-index: 20 !important;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #d7443f;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;
}

.node rect {
  cursor: move;
  fill-opacity: 1;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  font-size: small;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}
